/* Make bar fade to darker shade */
div.ytp-play-progress {
  background: linear-gradient(
    to right,
    rgb(255, 0, 51) 80%,
    rgb(194, 0, 0) 100%
  );
}

/* Player background in theatre mode */
.html5-video-player {
  background-color: #0f0f0f !important;
}

/* Volume always expanded */
.ytp-volume-panel {
  width: 52px !important;
}
