/* Recommended theme colors: Bg: 15202b, Fg: ffffff, 0295fd, 0295fd */

#browser .tab-position .tab.active {
    /* you will have to edit this if you want other accent colors */
    background-color: rgb(from var(--colorHighlightBg) r g b / 0.6) !important; 
    #color: #ffffffff;
}

/* Improve bookmarks bar */
.bookmark-bar button {
	gap: 0px !important;
	padding: 0 8px !important;
	border-radius: 10px;
	transition: background-color 0.4s;
}
.bookmark-bar button .title {
	padding-left: 6px;
}
svg.note-icon, svg.pinned-icon, svg.folder-icon, svg.folder-trash {
	width: 20px !important;
	height: auto !important;
}
.bookmark-bar {
	border: unset !important; 
}

/* Remove main bar border */
.address-top .mainbar {
	border-bottom-width: 0px !important;
}

/* Disable favicon white shadow on active tab in dark theme */
.theme-dark .tab-position .tab.active .tab-header .favicon {
    filter: none !important;
}

/* main bar transparency */
.address-top .mainbar {
    background: rgb(from var(--colorBg) r g b / 0.6);
    backdrop-filter: var(--backgroundBlur);
	z-index: 9999;
}
.bookmark-bar-top .bookmark-bar {
    background: rgb(from var(--colorBg) r g b / 0.4);
    backdrop-filter: var(--backgroundBlur);
}
.bookmark-bar button {
	background-color: transparent !important;
}

/* Improve tab bar */
.tab-indicator.active .active {
    height: 12px;
    border-bottom-width: 6px;
}
:not(.ui-transparent-tabs).transparent-tabbar:not(.acc-dark.bg-dark.color-accent-from-page.color-behind-tabs-on) .tab {
	background-color: rgb(from var(--colorHighlightBg) r g b / 0.17);
}

/* Add tab color gradient */
.tab-position .tab:not(.isdiscarded) .favicon {
    box-shadow: 140px 0px 190px 2vw var(--colorHighlightBg);
}
.tab .tab-header {
	border-radius: var(--currentRadius);
}

#tabs-subcontainer.top {
    box-shadow: none;
}

.svg-tab-stack, .svg-tab-selection {
    position: unset;
}

.tab-position .tab .stack-counter {
    padding: 2px 4px;
    background-color: transparent !important;
}