/* Recommended theme colors: Bg: 15202b, Fg: ffffff, 0295fd, 0295fd */

#browser .tab-position .tab.active {
    /* you will have to edit this if you want other accent colors */
    background-color: #008bff87 !important;
    #color: #ffffffff;
}

/* Disable favicon white shadow on active tab in dark theme */
.theme-dark .tab-position .tab.active .tab-header .favicon {
    filter: none !important;
}

/* Fix text 'blur' */
#browser.isblurred.dim-blurred #tabs-tabbar-container .tab:not(.active) .title {
	opacity: 1.0 !important;
}


/* Add tab color gradient */
.tab-position .tab:not(.isdiscarded) .favicon {
    box-shadow: 140px 0px 110px 1.8vw var(--colorHighlightBg);
}

/* I forgot why this is here but it is important */
.tab-indicator.active .active {
    height: 12px;
    border-bottom-width: 6px;
}

#browser.win.win10 #header #titlebar .window-buttongroup {
    #background-color: #0050ae3b;
}

.color-behind-tabs-on .tab.active.active {
    background-color: #0050ae;
}

.color-behind-tabs-on .tab.active .tab-indicator.active {
    background-color: #0050ae;
}

.color-behind-tabs-on .tab-indicator {
    background-color: rgb(46 104 162 / 40%);
}

.tabs-top .tab-position .tab, .tabs-bottom .tab-position .tab {
    background-color: rgb(10 10 10 / 40%);
}

.tabs-at-edge.stacks-on .tab-indicator.active {
    background-color: #0075ff00 !important;
}

.color-behind-tabs-on.tabs-at-edge.stacks-on .tab-indicator {
    background-color: #2f8fff;
}

.color-behind-tabs-on #tabs-subcontainer {
    background-color: var(--colorBg) !important;
}

#tabs-subcontainer.top {
    box-shadow: none;
}

.svg-tab-stack, .svg-tab-selection {
    position: unset;
}

.tab-position .tab .stack-counter {
    padding: 2px 4px;
    background-color: transparent !important;
}